<!DOCTYPE html>
<html lang="en-us"  class=" brand-2014">
    <head>
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="telephone=no">
        
        <title></title>
        <link rel="stylesheet" type="text/css" href="merchandisingassettester_less.css" />
    </head>
    <body class=" webkit googlechrome windows locale-us lang-us responsive">

        <script type="text/template" id="languageCheckboxTemplate">
            <%= id %> <input id="<%= id %>" class="language-id" type="checkbox" name="<%= name %>" />
        </script>

        <script type="text/template" id="paramTemplate">
            <label class="language-link" for="<%= id %>"> 
                <%= id %> 
                <input id="<%= id %>" class="language-id" type="checkbox" name="<%= name %>" />
            </label>
        </script>


        <h1>Merchandising Asset Tester</h1>
        <h3>/MerchContent/VHP/Marquee/BasicMarqueeWithPromoCode/BasicMarqueeWithPromoCode <a href="#" class="permalink">(permalink)</a></h3>
        <div class="accordion">
            <div class="collapsible">
                <h3 class="collapsible-header">Description</h3>
                <div class="collapsible-content">
                    <p class="metadata-description">NVHP - Marquee - Basic marquee with text and promo code on the left</p>
                    <p><br />      Save a copy of this PSD to your working folder to start your project:<br />      PC link: file://vistaprint.net/global/graphics/LEX_CPS_Temp/Projects-LEX/_GLOBAL_VISUAL_IDENTITY/Templates/NVHP-Assets/marquee/XX-BasicMarqueeWithPromoCode-0XX-2x.psd<br />      Mac link: smb://vistaprint.net/global/graphics/LEX_CPS_Temp/Projects-LEX/_GLOBAL_VISUAL_IDENTITY/Templates/NVHP-Assets/marquee/XX-BasicMarqueeWithPromoCode-0XX-2x.psd<br /><br />      CssClass<br />      Requires one 2x image (REGION-product-000-2x.png)<br />      2x dimensions: 2460px x 800px<br />      Save imagery here: \mc\legacy\images\vp-site\vhp\marquee\BasicMarqueeWithPromoCode<br />      View zone on site: www.vistaprint.com<br />    </p>
                </div>
            </div>
            <div class="collapsible">
                <h3 class="collapsible-header">Languages</h3>
                <div class="collapsible-content">
                    <div class="language-toolbar">
                        <div class="language-toolbar-languages">
                            <label class="language-link" for="Us">Us<input id="Us" class="language-id" type="checkbox" name="US: U.S. English" /></label>
                            <label class="language-link" for="Uk">Uk<input id="Uk" class="language-id" type="checkbox" name="UK: U.K. English" /></label>
                            <label class="language-link" for="De">De<input id="De" class="language-id" type="checkbox" name="DE: German" /></label>
                            <label class="language-link" for="Jp">Jp<input id="Jp" class="language-id" type="checkbox" name="JP: Japanese" /></label>
                            <label class="language-link" for="Eu">Eu<input id="Eu" class="language-id" type="checkbox" name="EU: Euro" /></label>
                            <label class="language-link" for="Ca">Ca<input id="Ca" class="language-id" type="checkbox" name="CA: Canadian Eng." /></label>
                            <label class="language-link" for="Au">Au<input id="Au" class="language-id" type="checkbox" name="AU: Australian Eng." /></label>
                            <label class="language-link" for="Fr">Fr<input id="Fr" class="language-id" type="checkbox" name="FR: French" /></label>
                            <label class="language-link" for="It">It<input id="It" class="language-id" type="checkbox" name="IT: Italian" /></label>
                            <label class="language-link" for="Se">Se<input id="Se" class="language-id" type="checkbox" name="SE: Swedish" /></label>
                            <label class="language-link" for="Nl">Nl<input id="Nl" class="language-id" type="checkbox" name="NL: Dutch" /></label>
                            <label class="language-link" for="Es">Es<input id="Es" class="language-id" type="checkbox" name="ES: Spanish" /></label>
                            <label class="language-link" for="Cn">Cn<input id="Cn" class="language-id" type="checkbox" name="CN: Chinese" /></label>
                            <label class="language-link" for="EsUs">EsUs<input id="EsUs" class="language-id" type="checkbox" name="es-us: US Spanish" /></label>
                            <label class="language-link" for="FrCa">FrCa<input id="FrCa" class="language-id" type="checkbox" name="fr-ca: French Canadian" /></label>
                            <label class="language-link" for="FrBe">FrBe<input id="FrBe" class="language-id" type="checkbox" name="fr-be: Belgium French" /></label>
                            <label class="language-link" for="NlBe">NlBe<input id="NlBe" class="language-id" type="checkbox" name="nl-be: Belgium Dutch" /></label>
                            <label class="language-link" for="DeCh">DeCh<input id="DeCh" class="language-id" type="checkbox" name="de-ch: Switzerland German" /></label>
                            <label class="language-link" for="FrCh">FrCh<input id="FrCh" class="language-id" type="checkbox" name="fr-ch: Switzerland French" /></label>
                            <label class="language-link" for="ItCh">ItCh<input id="ItCh" class="language-id" type="checkbox" name="it-ch: Switzerland Italian" /></label>
                            <label class="language-link" for="EnIe">EnIe<input id="EnIe" class="language-id" type="checkbox" name="en-ie: Ireland" /></label>
                            <label class="language-link" for="EnNz">EnNz<input id="EnNz" class="language-id" type="checkbox" name="en-nz: New Zealand" /></label>
                            <label class="language-link" for="No">No<input id="No" class="language-id" type="checkbox" name="NO: Norwegian" /></label>
                            <label class="language-link" for="Dk">Dk<input id="Dk" class="language-id" type="checkbox" name="DK: Danish" /></label>
                            <label class="language-link" for="Pl">Pl<input id="Pl" class="language-id" type="checkbox" name="PL: Polish" /></label>
                            <label class="language-link" for="At">At<input id="At" class="language-id" type="checkbox" name="AT: Austrian German" /></label>
                            <label class="language-link" for="Fi">Fi<input id="Fi" class="language-id" type="checkbox" name="FI: Finnish" /></label>
                            <label class="language-link" for="Pt">Pt<input id="Pt" class="language-id" type="checkbox" name="PT: Portuguese" /></label>
                            <label class="language-link" for="Cz">Cz<input id="Cz" class="language-id" type="checkbox" name="CZ: Czech" /></label>
                            <label class="language-link" for="Sg">Sg<input id="Sg" class="language-id" type="checkbox" name="SG: Singaporean English" /></label>
                            <label class="language-link" for="Kr">Kr<input id="Kr" class="language-id" type="checkbox" name="KR: Korean" /></label>
                            <label class="language-link" for="EsMx">EsMx<input id="EsMx" class="language-id" type="checkbox" name="es-mx: Mexican Spanish" /></label>
                            <label class="language-link" for="Tr">Tr<input id="Tr" class="language-id" type="checkbox" name="TR: Turkish" /></label>
                            <label class="language-link" for="Tw">Tw<input id="Tw" class="language-id" type="checkbox" name="TW: Taiwanese Chinese" /></label>
                            <label class="language-link" for="In">In<input id="In" class="language-id" type="checkbox" name="IN: Indian Eng." /></label>
                            <label class="language-link" for="HiIn">HiIn<input id="HiIn" class="language-id" type="checkbox" name="hi-in: Indian Hindi" /></label>
                        </div>
                        <div class="language-toolbar-options">
                            <button class="clear-all textbutton textbutton-skin-simple">Clear All</button>
                            <button class="select-all textbutton textbutton-skin-simple">Select All</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <h3 class="collapsible-header">Parameters</h3>
                <div class="collapsible-content">
                    <div class="params-toolbar">
                        <div class="params-options-section">
                            <div class="params-options">
                                <input type="checkbox" value="true" name="enableTokenPreview" id="enableTokenPreview" checked>
                                <label for="enableTokenPreview">Show placeholder text for parameters</label>
                            </div>
                            <div class="params-options">
                                <input type="checkbox" value="true" name="showOverlays" id="showOverlays" checked>
                                <label for="showOverlays">Show overlay elements</label>
                            </div>
                        </div>

                        <div class="param-field-section">
                            <div class="param-field">
                                <label>Product</label>
                                
                                <select id="Product_product_type" class="product-type-select">
                                    <option value="pc" selected>Product Concept</option>
                                    <option value="pp">Product Presentation</option>
                                </select>
                                <input type="text" name="Product" class="param-value param-value-product"/>
                                
                            </div>
                            <div class="param-field">
                                <label>CssClass</label>
                                
                                <select class="param-value" name="CssClass">
                                    <option value="">Select...</option>
                                    <option value="EU-wallcalendar-001">EU-wallcalendar-001</option>
                                    <option value="NA-categorymix-001">NA-categorymix-001</option>
                                    <option value="NA-holiday-001">NA-holiday-001</option>
                                </select>
                                
                            </div>
                            <div class="param-field">
                                <label>Header</label>
                                
                                <input type="text" name="Header" class="param-value"/>
                                
                                <span class="param-tags">Tags: block</span>
                            </div>
                            <div class="param-field">
                                <label>Subheader</label>
                                
                                <input type="text" name="Subheader" class="param-value"/>
                                
                                <span class="param-tags">Tags: block</span>
                            </div>
                            <div class="param-field">
                                <label>PromoCodeLabel</label>
                                
                                <input type="text" name="PromoCodeLabel" class="param-value"/>
                                <span class="param-required-text">Required</span>
                                
                            </div>
                            <div class="param-field">
                                <label>PromoCode</label>
                                
                                <input type="text" name="PromoCode" class="param-value"/>
                                <span class="param-required-text">Required</span>
                                
                            </div>
                            <div class="param-field">
                                <label>PromoSkin</label>
                                
                                <select class="param-value" name="PromoSkin">
                                    <option value="">Select...</option>
                                    <option value="promo-code">promo-code</option>
                                    <option value="promo-bright-blue">promo-bright-blue</option>
                                    <option value="promo-candy-apple">promo-candy-apple</option>
                                    <option value="promo-deep-blue">promo-deep-blue</option>
                                    <option value="promo-fire-orange">promo-fire-orange</option>
                                    <option value="promo-grape">promo-grape</option>
                                    <option value="promo-orange">promo-orange</option>
                                    <option value="promo-ruby">promo-ruby</option>
                                    <option value="promo-scarlet">promo-scarlet</option>
                                    <option value="promo-ultraviolet">promo-ultraviolet</option>
                                    <option value="promo-white">promo-white</option>
                                </select>
                                
                            </div>
                            <div class="param-field">
                                <label>CtaLink</label>
                                
                                <input type="text" name="CtaLink" class="param-value"/>
                                
                            </div>
                            <div class="param-field">
                                <label>OverrideButtonText</label>
                                
                                <input type="text" name="OverrideButtonText" class="param-value"/>
                                
                            </div>
                            <div class="param-field">
                                <label>ButtonSkin</label>
                                
                                <select class="param-value" name="ButtonSkin">
                                    <option value="">Select...</option>
                                    <option value="primary">primary</option>
                                    <option value="secondary">secondary</option>
                                    <option value="promo-bright-blue">promo-bright-blue</option>
                                    <option value="promo-candy-apple">promo-candy-apple</option>
                                    <option value="promo-deep-blue">promo-deep-blue</option>
                                    <option value="promo-fire-orange">promo-fire-orange</option>
                                    <option value="promo-grape">promo-grape</option>
                                    <option value="promo-orange">promo-orange</option>
                                    <option value="promo-ruby">promo-ruby</option>
                                    <option value="promo-scarlet">promo-scarlet</option>
                                    <option value="promo-ultraviolet">promo-ultraviolet</option>
                                    <option value="holiday-white">holiday-white</option>
                                </select>
                                
                            </div>
                            <div class="param-field">
                                <label>OpenLinkInDialog</label>
                                
                                <input type="checkbox" value="true" name="OpenLinkInDialog" class="param-value" />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapsible">
                <h3 class="collapsible-header">Size</h3>
                <div class="collapsible-content">
                    <select id="previewSize">
                        <option value="0">No max size</option>
                        <option value="540">Rebrand - coupon drawer (540)</option>
                        <option value="1230">Rebrand - VHP - marquee (1230)</option>
                        <option value="768">Rebrand - VHP - marquee at tablet portrait (768)</option>
                        <option value="750">Rebrand - VHP - marquee at smallest size before being hidden (750)</option>
                        <option value="940">Rebrand - VHP - specials banners (940)</option>
                        <option value="300">Rebrand - VHP - featured products (300)</option>
                        <option value="960">Rebrand - Category Page - marquee, banner(960)</option>
                        <option value="275">Rebrand - Category Page - product tile (275)</option>
                        <option value="216">Rebrand - Category Page - carousel tile (216)</option>
                        <option value="782">Rebrand - Product Page - holiday card product page marquee (782)</option>
                        <option value="960">RCHP leaderboard (960)</option>
                        <option value="700">RCHP marquee (700)</option>
                        <option value="732">Hub page marquee (732)</option>
                        <option value="480">Phones in landscape (480)</option>
                        <option value="320">Phones in portrait (320)</option>
                        <option value="160">Phones in portrait, six-column zone (160)</option>
                        <option value="940">Brand 09 NVHP marquee, leaderboard (940)</option>
                        <option value="460">Brand 09 NVHP promo (460)</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="ImageContainer"></div>
        
        <script type="text/javascript" src="json2.js"></script>
        <script type="text/javascript" src="jquery-current.js"></script>
        <script type="text/javascript" src="underscore.js"></script>
        <script type="text/javascript" src="backbone.js"></script>
        <script type="text/javascript" src="skinny.js"></script>
        <script type="text/javascript" src="js/backbone.databind.js"></script>
        <script type="text/javascript" src="js/Models.js"></script>
        <script type="text/javascript" src="js/AppView.js"></script>
        <script type="text/javascript" src="js/LanguageOptionsView.js"></script>
        <script type="text/javascript" src="js/LanguageView.js"></script>
        <script type="text/javascript" src="js/OptionsView.js"></script>
        <script type="text/javascript" src="js/ParameterView.js"></script>
        <script type="text/javascript" src="js/PermalinkView.js"></script>
        <script type="text/javascript" src="js/PreviewSizeOptionsView.js"></script>
        <script type="text/javascript" src="js/PreviewView.js"></script>
        <script type="text/javascript">
        new mat.AppView({ 
            assetPath: "/MerchContent/VHP/Marquee/BasicMarqueeWithPromoCode/BasicMarqueeWithPromoCode",
            previewMode: 2
        });
        </script>
               
    </body>
</html>